.header {
  width: 100%;
  height: 70px;
  background-color: inherit;
  display: flex;
  position: sticky;
  top: 0;
}
.header .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .nav-links {
  align-items: center;
  display: flex;
  gap: 15px;
}
.header .nav .nav_auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .nav .singin {
  padding: 10px 24px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.header .nav .singUp {
  padding: 10px 24px;
  background-color: rgb(2, 137, 122);
  color: #fff;
  border: none;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: rgb(31, 46, 53);
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.client {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.client p {
  margin-top: 100px;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}
.client .client_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

@media (max-width: 992px) {
  .client {
    display: flex;
    gap: 40px;
  }
  .client p {
    margin-top: 70px;
  }
  .client .client_logos {
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 576px) {
  .client {
    display: flex;
    gap: 40px;
  }
  .client p {
    margin-top: 70px;
    font-size: 35px;
    font-weight: 600;
  }
  .client .client_logos {
    display: flex;
    gap: 40px;
  }
}
.choose-product .choose-product_cards .choose-product_card, .choose-product .choose-product_cards, .choose-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-product {
  background-color: rgb(34, 52, 61);
  flex-direction: column;
  gap: 50px;
}
.choose-product .choose-product_title {
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  margin-top: 24px;
}
.choose-product .choose-product_cards {
  margin-bottom: 30px;
  gap: 30px;
  flex-wrap: wrap;
}
.choose-product .choose-product_cards .choose-product_card {
  width: 350px;
  height: 305px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
  flex-direction: column;
  padding: 28px;
  gap: 20px;
  color: #fff;
}
.choose-product .choose-product_cards .choose-product_text {
  font-size: 24px;
  font-weight: 700;
}
.choose-product .choose-product_cards .choose-product_desc {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

@media (max-width: 576px) {
  .choose-product .choose-product_title {
    font-size: 23px;
  }
  .choose-product .choose-product_cards .choose-product_card {
    width: 90%;
  }
}
main {
  display: flex;
  flex-direction: column;
}

.product_work {
  color: #fff;
  max-width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product_work .product_work-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: 700;
  padding-bottom: 73px;
}
.product_work .product_work-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
}
.product_work .product_work-cards .product_card {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.product_work .product_work-cards .product_card-text {
  width: 438px;
  height: 210px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product_work .product_work-cards .product_card-text .product_card-title {
  font-size: 20px;
  font-weight: 500;
}
.product_work .product_work-cards .product_card-text .product_card-info {
  font-size: 24px;
  font-weight: 600;
}
.product_work .product_work-cards .product_card-text .product_card-desc {
  font-size: 16px;
  font-weight: 400;
}